<h5 class="text-secondary mb-4 border-bottom border-tertiary pb-2">
  <strong>Project:</strong>
  <%= @solar_system.project.name %>
</h5>
<h3 class="mb-4">Edit solar system</h3>

<%= render 'solar_systems/form', solar_system: @solar_system, project: @project %>
