<div class="container">
  <div class="row justify-content-center my-5">
    <div class="col col-md-10 col-lg-8 col-xl-7">

      <h2 class="mb-4">New use</h2>

      <%= render 'form', use: @use, uses: @uses %>

    </div>
  </div>
</div>
