<% unless source.currency == 'eur' %>
  <div class="badge badge-secondary px-2 mr-2">
    <%= "#{source.price_discount.format(no_cents: true, symbol: false, thousands_separator: " ")} -" if source.discount_rate > 0 %>
    <%= "#{source.price.format(no_cents: true, symbol: false, thousands_separator: " ")} #{source.price.currency}" %>
  </div>
<% end %>
