<% if source.price_eur.present? %>
  <div class="badge badge-dark px-2">
    <%= "#{money_without_cents source.price_discount_eur} -" if source.discount_rate > 0 %>
    <%= "#{money_without_cents source.price_eur} #{source.price_eur.currency}" %>
  </div>
<% end %>
