<% if source.price_eur.present? %>
  <div class="badge badge-dark px-2">
    <%= "#{source.price_discount_eur.format(no_cents: true, symbol: false, thousands_separator: " ")} -" if source.discount_rate > 0 %>
    <%= "#{source.price_eur.format(no_cents: true, symbol: false, thousands_separator: " ")} #{source.price_eur.currency}" %>
  </div>
<% end %>
