<h4 class="my-4 py-1">Sourcing references</h4>

<% if sources.present? %>
  <div class="list-group">
    <% sources.each do |source| %>
      <%= render 'sources/index_show', source: source %>
    <% end %>
  </div>
<% else %>
  <div class="text-secondary small">
    No sources recorded for this appliance yet.
    <%= link_to "Add a new one", new_appliance_source_path(appliance) %>.
  </div>
<% end %>

<div class="d-flex mt-3 pt-3">
  <%= link_to new_appliance_source_path(appliance), class: "btn btn-outline-secondary flex-grow-1" do %>
    <i class="fas fa-plus mr-1"></i>
    New source
  <% end %>
</div>
