<h5 class="text-secondary mb-4 border-bottom border-tertiary pb-2">
  <strong>Appliance:</strong>
  <%= @appliance.name %>
</h5>
<h3 class="mb-4">New source</h3>

<%= render 'sources/form', source: @source, appliance: @appliance %>
