<% if appliance.max_price.present? %>
  <div class="badge px-2 badge-dark">
    <%= "#{appliance.min_price.format(no_cents: true, symbol: false, thousands_separator: " ")} -" if appliance.min_price != appliance.max_price %>
    <%= "#{appliance.max_price.format(no_cents: true, symbol: false, thousands_separator: " ")} #{appliance.max_price.currency.symbol}" %>
  </div>
<% end %>
