<div class="list-group-item d-flex align-items-center">

  <div class="mr-4 d-none d-sm-block ">
    <%= render 'appliances/image', appliance: appliance, size: 50 %>
  </div>

  <div class="flex-grow-1 mr-2">
    <h6><%= appliance.name %></h6>
    <div><%= render 'appliances/badges', appliance: appliance %></div>
  </div>

  <div>
    <%= link_to "Details", appliance_path(appliance) if policy(appliance).show? %>
  </div>

</div>
