<% if uses.present? %>
  <% uses.each do |use| %>
    <%= render 'index_section', use: use, appliances: appliances %>
  <% end %>

<% else %>
  <p class="text-secondary small my-3"><em>
      Sorry, no appliances found
  </em></p>
<% end %>
