<h4 class="mb-4 pt-1">Sourcing references</h4>

<div id="source_container">
  <% if sources.present? %>
    <div class="list-group">
      <% sources.each do |source| %>
        <%= render 'sources/card', source: source %>
      <% end %>
    </div>
  <% else %>
    <%= render 'sources/no_source', appliance: appliance %>
  <% end %>
</div>

<div class="d-flex mt-3 pt-3">
  <%= render 'sources/button_new', appliance: appliance %>
</div>
