<h4 class="mb-4 pt-1">Sourcing references</h4>

<div id="source_container">
  <% if sources.present? %>
    <div class="list-group">
      <% sources.each do |source| %>
        <%= render 'sources/card', source: source %>
      <% end %>
    </div>
  <% else %>
    <div class="text-secondary small">
      No sources recorded for this appliance.
      <%= link_to "Add a new one", new_appliance_source_path(appliance) if policy(Source).create? %>.
    </div>
  <% end %>
</div>

<div class="d-flex mt-3 pt-3">
  <%= render 'sources/button_new', appliance: appliance %>
</div>
