<div class="container">
  <div class="row mt-5">
    <div class="col-12">

      <h1>Appliance catalogue</h1>

      <%= link_to "Add new appliance", new_appliance_path, class: "btn btn-primary" %>



    </div>
  </div>
</div>
