<div class="container">
  <div class="row justify-content-center my-5">
    <div class="col col-xl-10">

      <div class="mb-3">
        <%= link_to root_path do %>
          <i class="fas fa-arrow-left mr-1"></i>
          Back to home
        <% end %>
      </div>

      <h2>Catalog of appliances</h2>

      <% @uses.each do |use| %>
        <%= render 'use_section', use: use %>
      <% end %>

      <div class="mt-4 text-center">
        <%= link_to new_use_path, class: "btn btn-outline-secondary" do %>
          <i class="fas fa-plus mr-1"></i>
          Add new use
        <% end %>
      </div>

    </div>
  </div>
</div>
