<div class="container">
  <div class="row justify-content-md-center my-5">
    <div class="col col-md-10 col-lg-7">

      <h1 class="mb-4">New appliance</h1>

      <%= render 'form', appliance: @appliance %>

    </div>
  </div>
</div>
