// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #00BC92;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$medium-gray: #aaaaaa;

// Energy grade colors:
$grade-a-plus-plus-plus: #55a952;
$grade-a-plus-plus: #5fb949;
$grade-a-plus: #C1D82D;
$grade-a: #FEF332;
$grade-b: #F6BB33;
$grade-c: #ED7033;
$grade-d: #E93F33;
$grade-e: #E93F33;
$grade-f: #E93F33;
$grade-g: #E93F33;

