<p>Hello Rubize Foresight admin! 👋 </p>

<p>You received a new request on Rubize Foresight.</p>

<p>
  <strong>Name</strong>
  <br><%= @name %>
</p>

<p>
  <strong>Email</strong>
  <br><%= @email %>
</p>

<p>
  <strong>Message</strong>
  <br><%= @message %>
</p>

<p>
  To create a new account, go to
  <%= link_to "Rubize Foresight admin page",  admin_users_url %>.
</p>
