<p>Hello <%= @user.name %>! 👋 </p>

<p>Your account has been created on Rubize Foresight with the email <strong><%= @user.email %></strong></p>.

<p>To access the plateforme, set your password by clicking the link bellow:</p>

<p><%= link_to "Set your account password",  edit_password_url(@user, reset_password_token: @token)
 %></p>

<p>The Rubize team</p>
