<% if distribution.price_max_eur.present? and distribution.price_min_eur.present? %>
  <div class="badge px-2 badge-dark">
    <%= "#{distribution.price_min_eur.format(no_cents: true, symbol: false, thousands_separator: " ")} -" if distribution.price_min_eur != distribution.price_max_eur %>
    <%= "#{distribution.price_max_eur.format(no_cents: true, symbol: false, thousands_separator: " ")} #{distribution.price_max_eur.currency.symbol}" %>
  </div>
<% end %>
