<div id="distribution_container">
  <% if distributions.present? %>
    <div class="list-group">
      <% distributions.each do |distribution| %>
        <%= render 'distributions/card', distribution: distribution %>
      <% end %>
    </div>

  <% else %>
    <%= render 'distributions/no_distribution' %>
  <% end %>
</div>

<div class="d-flex mt-3 pt-3">
  <%= render 'distributions/button_new' %>
</div>
