<footer class="bg-white border-top py-5">
  <div class="container d-flex justify-content-center">
    <div class="text-secondary">
      An application made with 💡 by
      <%= link_to "Benoo Energies", "https://www.benoo-energies.com/"  %>.
    </div>
  </div>
</footer>
