<div class="modal fade" id="custom-loader" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog h-100" role="document">
    <div class="h-100 d-flex justify-content-center align-items-center text-light">
      <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
    </div>
  </div>
</div>
