<div class="d-sm-flex">
  <div class="d-sm-none text-center text-secondary mb-1">AM</div>
  <div class="d-flex w-100">
    <% (0..11).each do |hour| %>
      <div class="w-100 text-center">
        <%= render 'shared/day_or_night_icon', hour: hour, day: day, night: night %>
        <%= f.input "hourly_rate_#{hour}".to_sym, as: :select, collection: collection, label: hour, input_html: { class: "barrating w-100" }, label_html: { class: "small text-center w-100"} %>
      </div>
    <% end %>
  </div>
  <div class="d-sm-none text-center text-secondary mb-1">PM</div>
  <div class="d-flex w-100">
    <% (12..23).each do |hour| %>
      <div class="w-100 text-center">
        <%= render 'shared/day_or_night_icon', hour: hour, day: day, night: night %>
        <%= f.input "hourly_rate_#{hour}".to_sym, as: :select, collection: collection, label: hour, input_html: { class: "barrating w-100" }, label_html: { class: "small text-center w-100"} %>
      </div>
    <% end %>
  </div>
</div>
