<div class="navbar navbar-expand-sm navbar-light bg-white d-flex justify-content-center">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "rubize-foresight.png", alt: "Rubize foresight", height: "40px" %>
  <% end %>
</div>
