<div class="badge badge-light px-2 mr-2">
  IN :
  <% if power_system.charge_current? %>
    <%= "#{power_system.charge_current} A" %>
  <% end %>
  <% if power_system.charge_voltage %>
    <%= "@ #{power_system.charge_voltage}" %>
  <% end %>
</div>
