<div>

  <div class="d-flex pt-2 mt-4 mb-3">
    <h5><%= use.name %></h5>
  </div>

  <% if use_appliances.present? %>
    <div class="list-group">
      <% use_appliances.each do |appliance| %>
        <%= render 'appliances/card_project', appliance: appliance, project: project %>
      <% end %>
    </div>

  <% else %>
    <div class="text-secondary small">
      No appliances recorded for this use.
    </div>
  <% end %>

</div>
