<% unless project.current_array.include? appliance.current_type %>
  <div class="text-warning mt-2 small">
    <i class="fas fa-exclamation-triangle mr-1"></i>
    This appliance doesn't work with the current type if this project.
  </div>
<% end %>
