<h3 class="mb-4">Edit appliance(s) for <em>"<%= @project_appliance.project.name %>"</em></h3>

<%= render 'form', project_appliance: @project_appliance, appliance: @project_appliance.appliance, action: "Add appliance(s)" %>
