<%= render 'shared/back_link', path: project_path(@project), text: "Back to project" %>

<h3 class="mb-3">Select an appliance from catalog</h3>

<div class="d-flex align-items-center mt-4 mb-2">
  <%= render 'query' %>
</div>

<div id="results">
  <%= render 'results', uses: @uses, appliances: @appliances, project: @project %>
</div>
