<%= render 'shared/back_link', path: project_path(@project), text: "Back to project" %>

<h2 class="mb-3">Select from catalog</h2>

<div class="d-flex align-items-center mt-4 mb-2">
  <%= render 'query' %>
</div>

<div id="results">
  <%= render 'results', uses: @uses, appliances: @appliances, query: @query, project: @project %>
</div>
