<h3 class="mb-4">Add appliance(s) for <em>"<%= @project.name %>"</em></h3>

<%= render 'form', project: @project, project_appliance: @project_appliance, appliance: @appliance, action: "Add appliance(s)" %>
