<div class="card h-100">
  <%= image_tag image, alt: title, class: "card-img-top d-none d-sm-block" %>
  <div class="card-body">
    <h4 class="card-title"><%= title %></h4>
    <p class="card-text text-secondary"><%= description %></p>
    <%= link_to action, path, class: "btn btn-primary" %>
  </div>
</div>
