<div class="modal fade" id="onboarding" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Request a demo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="requestForm" action="/request_registration" method="post">
          <input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
          <div class="form-group">
            <label for="inputName">What is your name?</label>
            <input type="text" class="form-control" id="inputName" name="inputName" placeholder="Your name" required>
          </div>
          <div class="form-group">
            <label for="inputOrganization">What is the name of your organization?</label>
            <input type="text" class="form-control" id="inputOrganization" name="inputOrganization" placeholder="Your organization">
          </div>
          <div class="form-group">
            <label for="inputEmail">What is your email address?</label>
            <input type="email" class="form-control" id="inputEmail" name="inputEmail" aria-describedby="emailHelp" placeholder="your.email@domain.com" required>
          </div>
          <div class="form-group">
            <label for="inputMessage">What is your interest in Rubize Foresight?</label>
            <textarea class="form-control" id="inputMessage" name="inputMessage" rows="5" placeholder="Your message" required></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
        <button type="submit" form="requestForm" class="btn btn-primary">Send</button>
      </div>
    </div>
  </div>
</div>
