<div class="row mt-5">

  <div class="col-12 col-sm-6 col-lg-4 mb-4">
    <%= render 'pages/card', title: "Appliances", description: "Your catalog of electrical appliances.", image: "appliances.svg", action: "Browse appliances", path: appliances_path %>
  </div>

  <div class="col-12 col-sm-6 col-lg-4 mb-4">
    <%= render 'pages/card', title: "Solar systems", description: "Your power components for standalone solar systems.", image: "solar_system.svg", action: "Browse components", path: power_components_path %>
  </div>

  <div class="col-12 col-sm-6 col-lg-4 mb-4">
    <%= render 'pages/card', title: "Projects", description: "Design productive uses and estimate the cost of energy.", image: "projects.svg", action: "Browse projects", path: projects_path %>
  </div>

</div>
