<h1>Rubize Foresight</h1>
<h5 class="font-weight-light text-secondary">An application to design productive uses of energy.</h5>

<% if user_signed_in? %>
  <%= render "pages/home_menu" %>

<% else %>
  <%= render "pages/home_onboarding" %>

<% end %>
