<p><%= @email %> has registered to join your site!</p>

<p>If your are a website admin, you can approve this registration through the link below:</p>

<p><%= link_to 'Manage my team users', admin_users_path %></p>
