<h4 class="mb-4 pt-1">Setup of appliances</h4>

<div id="project_appliance_container">
  <% if uses.present? %>
    <% uses.each do |use| %>
      <%= render 'projects/use_section', use: use, use_project_appliances: use.project_appliances(project), project: project %>
    <% end %>
  <% else %>
    <%= render 'project_appliances/no_project_appliance' %>
  <% end %>
</div>

<div class="d-flex mt-4 pt-3">
  <%= render 'project_appliances/button_index', project: project %>
</div>
