<div id="project_appliance_container">
  <% if uses.present? %>
    <% uses.each do |use| %>
      <%= render 'projects/use_section', use: use, use_project_appliances: use.project_appliances(project), project: project, card: card %>
    <% end %>
  <% else %>
    <%= render 'project_appliances/no_project_appliance' %>
  <% end %>
</div>
