<table class="table table-sm">
  <tbody>
    <tr class="table-secondary">
      <th scope="row" class="py-2">
        Setup of appliances
      </th>
      <td class="text-right font-weight-bold py-2">
        <%= render 'shared/price_range', price_min: project.price_min, price_max: project.price_max %>
      </td>
    </tr>
    <% project.uses.each do |use| %>
      <tr>
        <th scope="row" class="font-weight-normal pl-sm-4">
          <%= use.name %>
        </th>
        <td class="text-right">
          <%= render 'shared/price_range', price_min: use.price_min(project), price_max: use.price_max(project) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
