<div class="list-group-item d-flex align-items-center">

  <div class="flex-grow-1 mr-2">
    <h6><%= project.name %></h6>
  </div>

  <div>
    <%= render 'projects/button_show', project: project %>
  </div>

</div>
