<% if projects.present? %>

  <div class="pb-3 text-secondary">
    <%= page_entries_info projects %>
  </div>

  <div class="list-group">
    <% projects.each do |project| %>
      <%= render 'projects/card', project: project %>
    <% end %>
  </div>

  <div class="py-5 d-flex justify-content-center">
    <%= paginate projects, window: 2, remote: true %>
  </div>

<% elsif query.present? %>
  <div class="text-secondary small my-3"><em>
      Sorry, no projects found.
  </em></div>

<% else %>
  <div class="text-secondary small my-3">
    No project recorded.
    <%= link_to "Add a new one", new_project_path if policy(Project).create? %>.
  </div>

<% end %>
