<div>

  <div class="d-flex pt-2 mt-4 mb-3">
    <h5><%= use.name %></h5>
  </div>

  <div class="list-group">
    <% use_project_appliances.each do |project_appliance| %>
      <%= render 'project_appliances/card', project_appliance: project_appliance, appliance: project_appliance.appliance, project: project %>
    <% end %>
  </div>

</div>
