<div data-project-use-id="<%= use.id %>">

  <div class="d-sm-flex pt-2 mt-4 mb-3 justify-content-between">
    <h5><%= use.name %></h5>
    <div class="ml-sm-4" id="use-badges">
      <%= render 'projects/use_badges', use: use, project: project %>
    </div>
  </div>

  <div class="list-group">
    <% use_project_appliances.each do |project_appliance| %>
    <%= render "project_appliances/#{card}", project_appliance: project_appliance, appliance: project_appliance.appliance, project: project %>
    <% end %>
  </div>

</div>
