<%= render 'shared/back_link', path: project_path(@project), text: "Back to project" %>

<h3 class="mb-3">Select an appliance from catalog</h3>

<div class="d-flex align-items-center mt-4 mb-2">
  <%= render 'projects/appliance_query' %>
</div>

<div id="results" class="pb-4">
  <%= render 'projects/appliance_results', uses: @uses, appliances: @appliances, project: @project, page_number: @page_number, use_pagination_id: @use_pagination_id %>
</div>
