<% if communication_module.daily_consumption.present? %>
  <div class="badge badge-secondary px-2 mr-2 text-nowrap">
    <%= "#{number_with_delimiter(communication_module.daily_consumption.round, delimiter: " ")} Wh/d" %>
  </div>
<% end %>
