<div id="battery_container">
  <% if batteries.present? %>
    <div class="list-group">
      <% batteries.each do |battery| %>
        <%= render 'batteries/card', battery: battery %>
      <% end %>
    </div>

  <% else %>
    <%= render 'batteries/no_battery' %>
  <% end %>
</div>

<div class="d-flex mt-3 pt-3">
  <%= render 'batteries/button_new' %>
</div>
