.br-theme-bars-horizontal .br-widget {
  white-space: nowrap;
}
.br-theme-bars-horizontal .br-widget a {
  display: block;
  height: 12px;
  background-color: white;
  margin: 1px;
}
.br-theme-bars-horizontal .br-widget a.br-active,
.br-theme-bars-horizontal .br-widget a.br-selected {
  background-color: $blue;
}
.br-theme-bars-horizontal .br-widget .br-current-rating {
  height: 20px;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 2;
  text-align: center;
  color: $blue;
}
.br-theme-bars-horizontal .br-readonly a {
  cursor: default;
}
.br-theme-bars-horizontal .br-readonly a.br-active,
.br-theme-bars-horizontal .br-readonly a.br-selected {
  background-color: white;
}
.br-theme-bars-horizontal .br-readonly .br-current-rating {
  color: $medium-gray;
}
@media print {
  .br-theme-bars-horizontal .br-widget a {
    border: 1px solid #b3b3b3;
    background: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .br-theme-bars-horizontal .br-widget a.br-active,
  .br-theme-bars-horizontal .br-widget a.br-selected {
    border: 1px solid black;
    background: white;
  }
  .br-theme-bars-horizontal .br-widget .br-current-rating {
    color: black;
  }
}
