.chart-container {
  max-width: 600px;
}

.chart-bar-container {
  height: 230px;
  border-left: 1px solid $light-gray;
  border-right: 1px solid $light-gray;
}

.chart-bar-empty-day {
  background-color: white;
}

.chart-bar-empty-night {
  background-color: $medium-light-gray;
}

.chart-bar-full-day {
  background-color: $blue;
}

.chart-bar-full-night {
  background-color: $dark-blue;
}
