.grade-a-plus-plus-plus {
  background-color: $grade-a-plus-plus-plus;
  color: white;
}

.grade-a-plus-plus {
  background-color: $grade-a-plus-plus;
  color: white;
}

.grade-a-plus {
  background-color: $grade-a-plus;
  color: white;
}

.grade-a {
  background-color: $grade-a;
  color: white;
}

.grade-b {
  background-color: $grade-b;
  color: white;
}

.grade-c {
  background-color: $grade-c;
  color: white;
}

.grade-d {
  background-color: $grade-d;
  color: white;
}

.grade-e {
  background-color: $grade-e;
  color: white;
}

.grade-f {
  background-color: $grade-f;
  color: white;
}

.grade-g {
  background-color: $grade-g;
  color: white;
}
