<div id="solar_panel_container">
  <% if solar_panels.present? %>

    <% SolarPanel::TECHNOLOGIES.each do |technology| %>
      <% if solar_panels.where(technology: technology).present? %>
        <h6 class="pb-2"><%= technology %></h6>
        <div class="list-group pb-4">
          <% solar_panels.where(technology: technology).each do |solar_panel| %>
            <%= render 'solar_panels/card', solar_panel: solar_panel %>
          <% end %>
        </div>
      <% end %>
    <% end %>

  <% else %>
    <%= render 'solar_panels/no_solar_panel' %>
  <% end %>
</div>

<div class="d-flex mt-3 pt-3">
  <%= render 'solar_panels/button_new' %>
</div>
