<div id="solar_panel_container">
  <% if solar_panels.present? %>
    <div class="list-group">
      <% solar_panels.each do |solar_panel| %>
        <%= render 'solar_panels/card', solar_panel: solar_panel %>
      <% end %>
    </div>

  <% else %>
    <%= render 'solar_panels/no_solar_panel' %>
  <% end %>
</div>

<div class="d-flex mt-3 pt-3">
  <%= render 'solar_panels/button_new' %>
</div>
