<div class="list-group-item d-md-flex justify-content-between align-items-center">

  <div class="flex-grow-1 overflow-hidden mb-2">
    <h6>
      <span class="mr-2"><%= "#{user.first_name} #{user.last_name}" %></span>
      <span class="text-secondary"><%= user.email %></span>
    </h6>
    <small class="mr-2">
      Created on <%= user.created_at.strftime("%Y-%m-%d") %>
    </small>
    <% if user.admin? %>
      <div class="badge badge-secondary px-2 mr-2">admin</div>
    <% end %>
  </div>

  <div>
    <%= render 'actions', user: user %>
  </div>

</div>
