<%= render 'shared/back_link', path: root_path, text: "Back to home" %>

<h2 class="mb-3">My team</h2>

<% if @users_not_approved.present? %>
  <h5 class="mt-4 mb-3">Waiting for approval</h5>
  <div class="list-group">
    <% @users_not_approved.each do |user| %>
      <%= render 'index_show', user: user %>
    <% end %>
  </div>
<% end %>

<% if @users_approved.present? %>
  <h5 class="mt-4 mb-3">Approved users</h5>
  <div class="list-group">
    <% @users_approved.each do |user| %>
      <%= render 'index_show', user: user %>
    <% end %>
  </div>
<% end %>
